<h1>{{title}}</h1>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>environment</th>
            <th>branch</th>
            <th>tag</th>
            <th>commit hash</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        {{#each deployments}}
            <tr>
                <td>{{ this.projectName }}</td>
                <td>{{ this.env }}</td>
                <td>{{ this.branch }}</td>
                <td>{{ this.tag }}</td>
                <td>{{ this.commitHash }}</td>
                <td>{{ this.date}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
